<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="color:red">
        <h3>Header</h3>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="color:teal">
        <h3>Footer</h3>
    </footer>
</body>
</html>
